*.egg-info
*.hie
.mypy_cache
.pyenv-virtualenv
.stack-work/
/.vscode/
/Cargo.lock
/target/
IgnoreMe*
Session.vim
__pycache__/
build/
coc-target/
dist/
ignoreme_*
node_modules/
npm-debug.log
stack.*.lock
tags
