*.egg-info
*.hie
*.swp
.mypy_cache
.pyenv-virtualenv
.stack-work
.venv
.vscode
Cargo.lock
IgnoreMe*
Session.vim
__pycache__
build
coc-target
dist
dist-newstyle
ignoreme*
node_modules
npm-debug.log
output
stack.*.lock
tags
target
