*.egg-info
*.hie
*.swp
.mypy_cache
.pyenv-virtualenv
.stack-work
/.vscode/
/Cargo.lock
/target/
IgnoreMe*
Session.vim
__pycache__/
build/
coc-target/
dist
dist-newstyle
ignoreme_*
node_modules/
npm-debug.log
stack.*.lock
tags
