/* symlink me under ~/.mozilla/firefox/<profile_name>/ */

#sidebar-header {
  display: none;
}

#tabbrowser-tabs
{
    font-size: 10pt !important;
}

#TabsToolbar { visibility: collapse !important; }

#navigator-toolbox[fullscreenShouldAnimate] {
    transition: none !important;
}
